
                  <div class="modal fade" id="registration" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;
                          </button>
                          <h4 class="modal-title">Registration
                          </h4>
                        </div>
                        <div class="modal-body">
                          <body>
                            <div class="row">
                              <div class="col-md-6">
                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              <%#= devise_error_messages! %>

                                <div class="form-group">
                                  <%= f.label :email %><br />
                                  <%= f.email_field :email, autofocus: true, size: "60" %>
                                </div>

                                <div class="field">
                                  <%= f.label :password %>
                                  <% if @minimum_password_length %>
                                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                                  <% end %><br />
                                  <%= f.password_field :password, autocomplete: "off", size: "60" %>
                                </div>

                                <div class="field">
                                  <%= f.label :password_confirmation %><br/>
                                  <%= f.password_field :password_confirmation, autocomplete: "off", size: "60" %>
                                </div>


                                <div class="actions">
                                  <%= f.button "Sign up", data: {disable_with: "<i class='fa fa-cog fa-spin'></i> Sign up..."}  %>
                                </div>
                              </div>
                              <% end %>
                            </div>
                          </body>
                        </div>
                          <%= render "devise/google"%>
                          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                    <div class="modal-">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close
                      </button>
                    </div>
                  </div>
            
                    </div>
                        
                  </div>