=form_for([@commentable, @comment], html: { multipart: true }, :param1 => @commentable, :remote=>true) do |f| 
  %div.field
    = errors_for(@commentable)
    -unless current_user.present?
      = f.fields_for :info_attributes do |builders|
        = builders.text_field :name
        /= builders.text_field :email


    = f.text_area :content, class: "form-control", placeholder: "Add comment" 
    %div{:class=>"field_upload"}
      = f.label :uploaded_file, "Image upload" 
    %div{:class=>"field_upload"} 
      = f.file_field :image_comment
      
    %div{:class=>"submit"}
      = f.button t('forms.buttons.create')
      
