= form_for @voice do |f|
  - if @voice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@voice.errors.count, "error")} prohibited this voice from being saved:"
      %ul
        - @voice.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
